.navBarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0px 30px;
  background-color: brown;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 15px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.logo {
  color: white;
  cursor: pointer;
  justify-self: start;
}

.fa-react {
  margin-left: 0.2rem;
  font-size: 1.5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
  padding-left: 20px;
  padding-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: white;
  padding: 0.7rem 1rem;
}

.nav-link i {
  padding-right: 10px;
}

.nav-link:hover {
  background-color: black;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.title {
  text-align: center;
}
.menu-avatar-container {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background: transparent;
  padding-right: 30px;
  padding-left: 30px;
}
.menu-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.button-cart-sidebar {
  cursor: pointer;
  background-color: #8ef6a8ce;
  color: black;
  padding: 1.2rem;
  margin: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button-cart-sidebar:hover {
  background-color: black;
  color: #8ef6a8ce;
}

.container-cart-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
