.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 20vw;
  background-color: brown;
  padding: 0rem;
  z-index: 1;
  height: 100vh;
  color: white;
  transition: all 0.5s ease-in-out;
}
.close-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.close-button {
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}
.button-cart-sidebar {
  cursor: pointer;
  background-color: #8ef6a8ce;
  color: black;
  padding: 1.2rem;
  margin: 2rem;
  width: 80%;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.button-cart-sidebar:hover {
  background-color: black;
  color: #8ef6a8ce;
}

.container-cart-sidebar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin: 1rem 0;
  height: 88%;
}
